<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Thymeleaf Form handling Demo</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Thymeleaf Form handling Demo</h1>
<form class="col card p-3 mb-5" method="post" th:action="@{/users/}" th:object="${userInfo}">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input class="form-control" id="firstName" placeholder="Enter First Name" required
           th:field="*{firstName}"
           type="text"/>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control" id="lastName" placeholder="Enter Last Name" required
           th:field="*{lastName}"
           type="text"/>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control " id="role" required th:field="*{role}">
      <option hidden value="">Select a role</option>
      <option
          th:each="role : ${T(com.springhow.examples.springboot.thymeleaf.domain.entities.Role).values()}"
          th:text="${role}"
          th:value="${role}">
      </option>
    </select>
  </div>
  <input class="btn btn-primary" type="submit" value="Create User">
</form>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Created At</th>
  </tr>
  <tr th:if="${#lists.isEmpty(users)}">
    <td colspan="5">No Records found. Add some...!</td>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.role}"></td>
    <td th:text="${user.createdAt}"></td>
  </tr>
</table>
</body>
</html>