<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Thymeleaf Form handling Demo</title>
    <link rel="stylesheet" href="/css/bootstrap_test.css">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
            
<div class="container  text-md-center">
        <h1 class="py-3 text-center">Account Head Entry</h1>
        <form class=" form-row py-3 mb-5" th:action="@{/saveAccountHead}"
			th:object="${accountHead}" method="POST">

       <div class="col-md-1">
				<input type="text" th:field="*{Main_Code}" id="mcode"
					placeholder="Main Code" class="form-control form-control-sm">
			</div>
			
			<div class="col-md-4" >
               <select class="form-control form-control-sm" id="acchead">
					<option value="">Select Account Type</option>
				<option th:each="cou :${acchead}" th:value="${cou}" th:text="${cou}">Select
					Account Type</option>
			   </select>
			</div>
			
			<div class="col-md-6" id="otherType1" style="display: none;">
				<input type="text" th:field="*{Account_Head}" id="pType1"
					class="form-control form-control-sm ">
			</div>
			
            <p>
               <input type="button" id = "btnAdd1" value = "Add" class="btn btn-primary btn-sm form-control form-control-sm"/>
            </p>
            
  <br>
       
	
		<div class="col-md-1">
				<input type="text" th:field="*{Sub_Code}" id="subcode"
					placeholder="Sub Code" class="form-control form-control-sm">
			</div>
			
			<div class="col-md-4" >
               <select class="form-control form-control-sm" id="accsubhead">
						<option value='-1'>SELECT</option>
			   </select> 
			</div>
			
			<div class="col-md-6" id="otherType2" style="display: none;">
				<input type="text" th:field="*{Sub_Account_Head}" id="pType2"
					class="form-control form-control-sm ">
			</div>
	 					
			<p>
               <input onclick="checkValue()"type="button" id = "btnAdd2" value = "Add" class="btn btn-primary btn-sm form-control form-control-sm"/>
            </p>
            
	<br>

   
       		<div class="col-md-1">
			<input type="text" th:field="*{Group_Code}" id="accgrpbheadcode"
				placeholder="Group Code" class="form-control form-control-sm"> 
			</div>
			
			 <div class="col-md-4">
			<select
				class="form-control form-control-sm" id="accgrpbhead">
				<option value='-1'>SELECT</option>
			</select> 
			</div>
			
			<div class="col-md-6" id="otherType3" style="display: none;">
				<input type="text" th:field="*{Group_head}" id="pType3"
					class="form-control form-control-sm">
			</div>
		 
            <p>
               <input onclick="checkValue1()" type="button" id = "btnAdd3" value = "Add" class="btn btn-primary btn-sm form-control form-control-sm"/>
            </p>
            
<br>
	
        	<div class="col-md-2">
			<input type="text" th:field="*{Categroy_Code}" id="categcode"
				placeholder="Account Head Code" class="form-control form-control-sm">
            </div>
            <div class="col-md-7">
			<input type="text" th:field="*{Category_Head}"
				placeholder="Enter Account Head Description"
				class="form-control form-control-sm">
             </div>
             <div class="col-md-1">
             <button type="submit" class="btn btn-primary btn-sm form-control form-control-sm">Save</button>
			 </div>	
			 <p>
               <a th:href="@{/}"> Back to Chart of Account List</a>
            </p>
		
  		
</form>
  <script src="/js/getvalueaccdetails.js"></script>
</div>
</html>