<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Account Management System</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Table</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<h1>Chart of Account List</h1>
<a th:href="@{/showNewEmployeeForm}"
			class="btn btn-primary btn-sm mb-3"> Add AccountHead </a>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table border="1" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>


					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Id&sortDir=' + ${reverseSortDir}}">
							ID</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Main_Code&sortDir=' + ${reverseSortDir}}">
							MAIN CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Account_Head&sortDir=' + ${reverseSortDir}}">
							ACCOUNT HEAD</a></th>

					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Sub_Code&sortDir=' + ${reverseSortDir}}">
							SUB CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Sub_Account_Head&sortDir=' + ${reverseSortDir}}">
							SUB CODE HEAD</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Group_Code&sortDir=' + ${reverseSortDir}}">
							GROUP CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Group_head&sortDir=' + ${reverseSortDir}}">
							GROUP HEAD</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Categroy_Code&sortDir=' + ${reverseSortDir}}">
							CATEGORY CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Category_Head&sortDir=' + ${reverseSortDir}}">
							CATEGORY HEAD</a></th>
					<th>Actions</th>

				</tr>
                </thead>
                
                <tbody>
				<tr th:each="accountHead : ${listAccounthead}">
					<td th:text="${accountHead.Id}"></td>
					<td th:text="${accountHead.Main_Code}"></td>
					<td th:text="${accountHead.Account_Head}"></td>
					<td th:text="${accountHead.Sub_Code}"></td>
					<td th:text="${accountHead.Sub_Account_Head}"></td>
					<td th:text="${accountHead.Group_Code}"></td>
					<td th:text="${accountHead.Group_head}"></td>
					<td th:text="${accountHead.Categroy_Code}"></td>
					<td th:text="${accountHead.Category_Head}"></td>

					<td><a
						th:href="@{/showFormForUpdate/{id}(id=${accountHead.id})}"
						class="btn btn-primary">Update</a></td>
					<td><a
						th:href="@{/showFormForDelete/{id}(id=${accountHead.id})}"
						class="btn btn-danger">Delete</a></td>
				</tr>

			</tbody>
            </table>


       <div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-5">Total Rows: [[${totalItems}]]</div>
				<hr>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
					</span>
					
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
       
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>