<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

	<div class="container my-2">
	<h1>Account Head List</h1>
	
	<a th:href = "@{/NewAccountForm}" class="btn btn-primary btn-sm mb-3"> Add AccountHead </a>
	<a th:href = "@{/VoucherType}" class="btn btn-primary btn-sm mb-3"> Voucher Type </a>
	<a th:href = "@{/Trans}" class="btn btn-primary btn-sm mb-3"> Transaction Informations </a>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Id&sortDir=' + ${reverseSortDir}}">
							ID</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Main_Code&sortDir=' + ${reverseSortDir}}">
							MAIN CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Account_Head&sortDir=' + ${reverseSortDir}}">
							ACCOUNT HEAD</a></th>

					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Sub_Code&sortDir=' + ${reverseSortDir}}">
							SUB CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Sub_Account_Head&sortDir=' + ${reverseSortDir}}">
							SUB CODE HEAD</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Group_Code&sortDir=' + ${reverseSortDir}}">
							GROUP CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Group_head&sortDir=' + ${reverseSortDir}}">
							GROUP HEAD</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Categroy_Code&sortDir=' + ${reverseSortDir}}">
							CATEGORY CODE</a></th>
					<th><a
						th:href="@{'/page/' + ${currentPage} + '?sortField=Category_Head&sortDir=' + ${reverseSortDir}}">
							CATEGORY HEAD</a></th>
					<th>UPDATE</th>
                                <th>DELETE</th>
<!-- 					<th>&nbsp;&nbsp;&nbsp; ACTION &nbsp;&nbsp;&nbsp;</th> -->
				</tr>
			</thead>
			<tbody>
				<tbody>
				<tr th:each="accountHead: ${listAccounthead}">
					<td th:text="${accountHead.Id}"></td>
					<td th:text="${accountHead.Main_Code}"></td>
					<td th:text="${accountHead.Account_Head}"></td>
					<td th:text="${accountHead.Sub_Code}"></td>
					<td th:text="${accountHead.Sub_Account_Head}"></td>
					<td th:text="${accountHead.Group_Code}"></td>
					<td th:text="${accountHead.Group_head}"></td>
					<td th:text="${accountHead.Categroy_Code}"></td>
					<td th:text="${accountHead.Category_Head}"></td>
		
					<th> <a th:href="@{/showFormForUpdate/{id}(id=${accountHead.id})}" class="btn btn-primary">Update</a></th>
	
				    <th>  <a th:href="@{/showFormForDelete/{id}(id=${accountHead.id})}" class="btn btn-danger">Delete</a>
					</th>  
				</tr>
			</tbody>
		</table>

			
		<div>&nbsp;</div>
		<div>
			<i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i>
		</div>
		<div>&nbsp;</div>


		<div>
			Total Items:[[${totalItems}]] - Page [[${currentPage}]] of
			[[${totalPages}]] &nbsp;


			<!-- First Page -->
			<a th:if="${currentPage > 1}"
				th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
			<span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp;

			<!-- Previous Page -->
			<a th:if="${currentPage > 1}"
				th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
			<span th:unless="${currentPage > 1}">Previous</span>

			<!-- Sequence Number generate as per data recordset page defines i.e how may row define per page -->
			<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
				th:if="${currentPage != i}"
				th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
				<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
			</span>


			<!-- Next Page -->
			<a th:if="${currentPage < totalPages}"
				th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
			<span th:unless="${currentPage < totalPages}">Next</span>
			&nbsp;&nbsp;

			<!-- Last Page -->
			<a th:if="${currentPage < totalPages}"
				th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
			<span th:unless="${currentPage < totalPages}">Last</span>

		</div>


	</div>


</body>
</html>