<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Account Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Account Management System</h1>
        <hr>
        <h2>Update AccountHead</h2>

        <form action="#" th:action="@{/saveAccountHead}" th:object="${accountHead}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{Main_Code}" class="form-control mb-4 col-4">

<!--             <input type="text" th:field="*{Account_Head}" class="form-control mb-4 col-4"> -->

<!--             //*************for combo************ -->
            <label class="control-label sr-only" for="acchead">Select Account Head</label>
                <select class="form-control mb-4 col-4" id="acchead" th:field="*{Account_Head}" >
                <option value="">Select Account Head</option>
                <option th:each="cou :${acchead}"
                       th:value="${cou}"
                       th:utext="${cou}"/>
                       </select>
                       
<!--            //*************for combo************ -->

            <input type="text" th:field="*{Sub_Code}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{Sub_Account_Head}" placeholder="Sub Head" class="form-control mb-4 col-4">

            <input type="text" th:field="*{Group_Code}" placeholder="Group Code" class="form-control mb-4 col-4">

            <input type="text" th:field="*{Group_head}" placeholder="Group Head " class="form-control mb-4 col-4">
    
            <input type="text" th:field="*{Categroy_Code}" placeholder="AccountHead Code" class="form-control mb-4 col-4">

            <input type="text" th:field="*{Category_Head}" placeholder="AccountHead Description" class="form-control mb-4 col-4">   
            

            <button type="submit" class="btn btn-info col-2"> Update</button>
        </form>

        <hr>

        <a th:href="@{/}"> Back to Chart of Account List</a>
    </div>
</body>

</html>