<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Thymeleaf Form handling Demo</title>
    <link rel="stylesheet" href="/css/bootstrap_test.css">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container  text-md-center">
        <h1 class="py-3 text-center">Transaction Entry</h1>
          <form class=" form-row py-3 mb-5" th:action="@{/Trans}" th:object="${accHead}" method="POST">  
        <div class="col-md-2">
                <!-- <label for="datepicker-placeholder">Select Date</label>
                < placeholder="Date">  -->
                <input type="datetime-local" class="form-control form-control-sm" 
                    id="datepicker-placeholder" size="sm" placeholder="Select Date">
            </div>      
       <div class="col-lg-3" th:object="${voucherTypes}">
         <label for="vouchtype"class="control-label sr-only">Select Account Head</label>  
          <select class="form-control form-control-sm" id="vouchtype" name="vouchtype">
               <option value="">Select Account Head</option>
               <option th:each="voucherType : ${voucherTypes}"
                th:value="${voucherType.description}"
                th:text="${voucherType.description}"></option>
            </select> 
         
          </div>

            <div class="col-md-2">
                <label class="sr-only">Latest Voucher</label>
                <input class="form-control form-control-sm" type="text" placeholder="Latest Voucher">
            </div>

            <div class="col-md-2">
                <label class="sr-only">Edit Voucher</label>
                <input class="form-control form-control-sm" type="text" placeholder="Edit Voucher">
            </div>
            <!--
            -->
            <p>
                <button type="submit" class="btn btn-primary btn-sm">New</button>
                <button type="reset" class="btn btn-danger btn-sm">Edit</button>
            </p>
           
            </form>
    </div>



    <!-- Testing -->
    <div class="container  text-md-center">
        <form class=" form-row py-3" onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off" method="post" th:object="${voucherType}">
            <div class="col-md-1">
                <label class="sr-only">ID*</label>
                 <input class="form-control form-control-sm" type="text" name="id" id="id" placeholder="ID"> 
                
            </div>
<div class="col-lg-3" th:object="${accountHeads}">

         <label for="acctype"class="control-label sr-only">Select Account Head</label>  
          <select class="form-control form-control-sm" id="acctype" name="acctype">
               <option value="">Select Account Head</option>
               <optgroup label="">
               <option th:each="accountHead : ${accountHeads}"
                th:value="${accountHead.Account_Head}"
                th:text="${accountHead.Categroy_Code}+' : '+${accountHead.Category_Head}+' : '+${accountHead.Group_head}+' : '+${accountHead.Sub_Account_Head}+' : '+${accountHead.Account_Head}"></option>
                </optgroup>
            
            </select> 
         
          </div>
            <div class="col-md-2">
                <label class="sr-only">Dr Amount</label>
<!--                 <input class="form-control form-control-sm" type="text" name="dramount" id="dramount" th:field="*{Transaction.Transac_Dr}" -->
<!--                     placeholder="Dr Amount"> -->
                <input class="form-control form-control-sm" type="text" name="dramount" id="dramount" placeholder="Dr Amount">
            </div>

            <div class="col-md-2">
                <label class="sr-only">Cr Amount</label>
<!--                 <input class="form-control form-control-sm" type="text" name="cramount" id="cramount" th:field="*{Transaction.Transac_Cr}" -->
<!--                     placeholder="Cr Amount"> -->
        <input class="form-control form-control-sm" type="text" name="cramount" id="cramount" placeholder="Cr Amount">             
                    
            </div>
            <div class="col-md-2">
                <label class="sr-only">Balance</label>
                <input class="form-control form-control-sm" type="text" name="balance" id="balance"
                    placeholder="Balance">
            </div>
            <br>
            <br>
            <div class="col-md-9">
<!--                 <textarea class="form-control form-control-sm" th:field="*{description}" rows="2" name="particulars" th:field="*{Transac_Desc}" -->
<!--                     id="particulars" placeholder="Particulars Entry"></textarea> -->

                    <textarea class="form-control form-control-sm"  rows="2" name="particulars" id="particulars" placeholder="Particulars Entry"></textarea>
            </div>
            <div class="col-md-1">
                <input onclick="productAddToTable()" id ="btnadd" class="btn-primary btn-sm btn-block" type="submit" value="Add">
            </div>

        </form>
        <!-- Testing end button type="button" 
        id="updateButton" 
        class="btn btn-primary" 
        onclick="productUpdate();">Add</button-->

    </div>


    <div class="container  text-md-center">
       
            <table id="particularlist" class="table table-bordered table-responsive table-striped text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Account Head</th>
                        <th>Particular</th>
                        <th>Dr Amount</th>
                        <th>Cr Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <!-- <tr th:if="${#lists.isEmpty(users)}">
                            <td colspan="5">No Records found. Add some...!</td>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.role}"></td>
                            <td th:text="${user.createdAt}"></td>
                        </tr> -->
                </tbody>
            </table>

        <p>
            <button type="submit" class="btn btn-primary">Save</button>
            <!-- <button type="reset" class="btn btn-danger btn-sm">Edit</button> -->
        </p>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>