<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	    <div class="container">
	        <a class="navbar-brand">Springboot </a> 
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
	                aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	            <ul class="navbar-nav ml-auto">
	                <li class="nav-item active">
	                    <a class="nav-link" href="#">Home
	                        <span class="sr-only">(current)</span>
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#">About</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#">Services</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#">Contact</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>

	
    <div class="card" style="padding-top: 50px;">
    <div class="card-body">
    
        <div th:switch="${voucherTypes}" class="container my-5">
            <p class="my-5">
                <a href="/AddvoucherType" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add Voucher Type </i></a>
            </p>
            
           
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Voucher Type</th>
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="vouchertype : ${voucherTypes}">
                                <td th:text="${vouchertype.id}"></td>
                                <td th:text="${vouchertype.Voucher_type}"></td>
                                <td th:text="${vouchertype.description}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${vouchertype.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${vouchertype.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
    
</body>

</html>